main{
    // pagina Studenti
    .schede-studenti{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 50px auto;
    }

    .card-deck{
            width: 50%;
            height: 30%;
        .card{

            border: none;
        }
        img{
            width: 200px;
        }

        .card-title{
            color: #5cd4c0;
        }
    }
}
