main{
    // pagina Studenti
    .studentspage-title{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0;
        h3{
            font-size: 50px;
            font-weight: bolder;
            color: #006cfa;
        }
        h5{
            font-size: 25px;
            font-weight: bolder;
            color: #000;
        }
    }

    .schede-studenti{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 50px auto;
    }

    .card-deck{
            width: 50%;
            height: 30%;
        .card{

            border: none;
        }
        img{
            width: 200px;
        }

        .card-title{
            color: #5cd4c0;
        }
    }
}
